mixin categories(header,items)
  .categories
    h2.categories-heading= header
    .categories-list.owl-carousel
      each item in items
        .category
          a.category__link(href=item.href)
            .category-image
              img.category-image__image(
                src=require(`images/${item.image}`).default,
                alt=item.name
              )
            .category__name= item.name
