include ../cardLabel/cardLabel.pug

mixin specialOffer(items)
  .special.owl-carousel
    each item in items
      .card
        .card-img
          img.card-img__image(src=require(`images/${item.image}`).default, alt=item.name)
          .card-img__labels
            +cardLabel(item)
        .card-content
          .card-rate
            .card-rate__rating.js-card-rate__rating(data-rating=item.rate)
            .card-rate__review= "Отзывов: " + item.reviewCount
          .card-name= item.name
          .card-country(class=`card-country__${item.countryFlag}`)= item.country
          .card-price= item.price + " " + item.currency
          .card-controls
            a.card-controls__link(href=item.link)
              button.card-controls__link-button= item.buttonName
            .card-controls__like.js-card-controls__like
            .card-controls__compare.js-card-controls__compare
