include ./blocks/footerMenuItem/footerMenuItem.pug
include ./blocks/specialOffer/specialOffer.pug
include ./blocks/categories/categories.pug
include ./blocks/footerContactItem/footerContactItem.pug

block meta
  title Branding Page
  meta(name='desctription', content='')
  meta(name='keywords', content='')

block header
  header.header
    .header-top
      .container.header-top-container
        img.header-top__image(
          src=require("images/icons/pure.svg").default,
          alt='pure'
        )
        img.header-top__image(
          src=require("images/icons/grohe.svg").default,
          alt='grohe'
        )
    .container
      .header-bottom
        a.header-bottom-logo(href='/')
          img(src=require("images/icons/logo.svg").default, alt='logo')
        .header-bottom-contact
          .header-bottom-contact-phone
            a.header-bottom-contact-phone__number(href='tel:84955653525') 8 495 565-35-25
            .header-bottom-contact-phone__time Каждый день с 9 до 22
          button.header-bottom-contact__call-back Заказать звонок
        .heading
          h1 GROHE

block slider
  .slider.owl-carousel
    img(src=require("./images/rotator.jpg").default).slider__image
    img(src=require("./images/rotator.jpg").default).slider__image
    img(src=require("./images/rotator.jpg").default).slider__image
    img(src=require("./images/rotator.jpg").default).slider__image

block content
  .content
    main.container
      - const popCategories = require("./popular-categories.json");
      - const popCollections = require("./popular-collections.json");
      +categories("Популярные товарные разделы", popCategories)
      +categories("Популярные коллекции", popCollections)
      - const special = require("./special.json");
      +specialOffer(special)
      .content-text
        h2 Дизайн - название инфоблока
        .content-text-image.content-text-image_left
          img(
            src=require("images/image 14.jpg").default,
            alt='img',
          )
        p Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.
        p На долю Grohe AG приходится примерно 8 % мирового рынка.
        p В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.
        p У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек.
        .clear
        hr(style='color:#eeeeee')
        h2 Технологии - название инфоблока 2
        .content-text-image.content-text-image_right
          img(
            src=require("images/image 14.jpg").default,
            alt='img',
          )
        p Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.
        p На долю Grohe AG приходится примерно 8 % мирового рынка. В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.
        p У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек.

block footer
  .clear
  footer.footer
    .container
      .footer-items
        .footer-item 
          h3.footer-item__header Популярные группы
          nav.footer-menu
            ul.footer-menu-list
              +footerMenuItem({name:"Раковины", link:"#"})
              +footerMenuItem({name:"Смесители", link:"#"})
              +footerMenuItem({name:"Полотенцесушители", link:"#"})
              +footerMenuItem({name:"Ванны", link:"#"})
        .footer-item 
          h3.footer-item__header Информация
          p.footer-item__info Интернет-магазин Сантехника-Тут является официальным дистрибьютером продуции немецкой комании Грое в России.

        .footer-item 
          h3.footer-item__header Контакты
          .footer-item-contact
            +footerContactItem({phone:"8 800 555-66-13", text:"Бесплатные звонки по России"})
            +footerContactItem({phone:"8 495 565-35-25", text:"Многоканальный номер"})
            +footerContactItem({phone:"8 812 748-28-77", text:"Офис продаж в Санкт-Петербурге"})
            +footerContactItem({phone:"8 861 205-25-67", text:"Офис продаж в Краснодаре"})
            +footerContactItem({phone:"8 863 322-00-18", text:"Офис продаж в Ростове-на-Дону"})

        .footer-item 
          h3.footer-item__header Продавец
          .footer-item__seller
            p Сантехника-Тут
            p ООО «Элит Групп»
            p ОГРН 1115029005123
            p ИНН 5029152090
      .footer-disclaimer Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2)
