extends ./layout.pug
include ./blocks/footerContactItem/footerContactItem.pug
include ./blocks/footerMenuItem/footerMenuItem.pug
include ./blocks/specialOffer/specialOffer.pug
include ./blocks/categories/categories.pug

block meta
  title Branding Page
  meta(name='desctription', content='')
  meta(name='keywords', content='')

block header
  .header-top(style='background:#000;')
    img(src=require("images/pure.svg").default, alt='pure')
    img(src=require("images/grohe.svg").default, alt='grohe')
  header.header
    a.logo(href='/')
      img(src=require("images/logo.svg").default, alt='logo')
    .contact
      .phone
        a.phone__number(href='84955653525') 8 495 565-35-25
        .phone__time Каждый день с 9 до 22
      button.call-back Заказать звонок
    .heading
      h1 GROHE

block slider
  .slider

block content
  - const popCategories = require("./popular-categories.json");
  - const popCollections = require("./popular-collections.json");
  +categories("Популярные товарные разделы", popCategories)
  +categories("Популярные коллекции", popCollections)
  - const special = require("./special.json");
  +specialOffer(special)
  .content-text
    h2 Дизайн - название инфоблока
    img(src=require("images/image 14.jpg").default, style='float:left;')
    p Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.
    p На долю Grohe AG приходится примерно 8 % мирового рынка.
    p В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.
    p У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек.
    hr(style='clear:both;')
    h2 Технологии - название инфоблока 2
    img(src=require("images/image 14.jpg").default, style='float:right;')
    p Grohe производит смесители и душевые гарнитуры для ванной комнаты и кухни, автоматические и электронные смесители общественного и коммерческого назначения, системы инсталляции и смыва для подвесной сантехники, системы скрытого настенного монтажа.
    p На долю Grohe AG приходится примерно 8 % мирового рынка. В 2007 году объём продаж выпускаемой Grohe сантехнической арматуры для кухонь, ванн и душа, автоматической арматуры для коммерческого и общественного секторов, а также инсталляционных и смывных систем составил около 1,02 млрд евро.
    p У Grohe 6 производственных площадок, две из которых находятся за рубежом, в частности в Португалии и Таиланде. Компания реализует более 82 % выпускаемой продукции за пределами Германии. По всему миру на предприятиях Grohe работает около 5000 человек.
  div(style='clear:both;')

block footer
  footer.footer
    .footer-items
      .footer-item 
        h2.footer-item__header Популярные группы
        nav.footer-menu
          ul.footer-menu-list
            +footerMenuItem({name:"Раковины", link:"#"})
            +footerMenuItem({name:"Смесители", link:"#"})
            +footerMenuItem({name:"Полотенцесушители", link:"#"})
            +footerMenuItem({name:"Ванны", link:"#"})
      .footer-item 
        h2.footer-item__header Информация
        p Интернет-магазин Сантехника-Тут является официальным дистрибьютером продуции немецкой комании Грое в России.

      .footer-item 
        h2.footer-item__header Контакты
        .footer-item-contact
          +footerContactItem({phone:"8 800 555-66-13", text:"Бесплатные звонки по России"})
          +footerContactItem({phone:"8 495 565-35-25", text:"Многоканальный номер"})
          +footerContactItem({phone:"8 812 748-28-77", text:"Офис продаж в Санкт-Петербурге"})
          +footerContactItem({phone:"8 861 205-25-67", text:"Офис продаж в Краснодаре"})
          +footerContactItem({phone:"8 863 322-00-18", text:"Офис продаж в Ростове-на-Дону"})

      .footer-item 
        h2.footer-item__header Продавец
        p Сантехника-Тут
        p ООО «Элит Групп»
        p ОГРН 1115029005123
        p ИНН 5029152090
